@import url(//db.onlinewebfonts.com/c/9da41c570d5a221cb2486d78769a076d?family=Neue+Helvetica);

@font-face {
  font-family: "Neue Helvetica";
  src: url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.eot");
  src: url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/9da41c570d5a221cb2486d78769a076d.svg#Neue Helvetica")
      format("svg");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dfr {
  display: flex;
  flex-direction: row;
}
.dfc {
  display: flex;
  flex-direction: column;
}
